@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "./variables.css";
@import "./light.css";
@import "./dark.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	* {
		border-color: var(--color-border);

		scrollbar-width: thin;
		scrollbar-color: var(--color-border) var(--color-background);
	}

	body {
		font-family: var(--font-sans), sans-serif;
		color: var(--color-foreground);
		background-color: var(--color-background);
		min-height: 100vh;
	}
}
