@tailwind base;

@layer base {
	:root {
		--font-inter: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

		--background: theme("colors.white");
		--foreground: theme("colors.gray.900");
		--border: theme("colors.gray.300");
		--border-hover: theme("colors.gray.400");

		--primary: theme("colors.indigo.600");
		--primary-hover: theme("colors.indigo.500");
		--primary-foreground: theme("colors.white");

		--secondary: theme("colors.gray.50");
		--secondary-hover: theme("colors.gray.100");
		--secondary-foreground: theme("colors.gray.500");

		--soft: theme("colors.indigo.50");
		--soft-hover: theme("colors.indigo.100");
		--soft-foreground: theme("colors.indigo.600");

		--placeholder: theme("colors.gray.400")
	}

}
