@theme {
	--color-background: var(--color-white);
	--color-foreground: var(--color-gray-900);
	--color-border: var(--color-gray-300);
	--color-border-hover: var(--color-gray-400);

	--color-primary: var(--color-indigo-600);
	--color-primary-hover: var(--color-indigo-500);
	--color-primary-foreground: var(--color-white);

	--color-secondary: var(--color-gray-50);
	--color-secondary-hover: var(--color-gray-100);
	--color-secondary-foreground: var(--color-gray-500);

	--color-soft: var(--color-indigo-50);
	--color-soft-hover: var(--color-indigo-100);
	--color-soft-foreground: var(--color-indigo-600);

	--color-placeholder: var(--color-gray-400);
}
